.vs
Archive
Source/Version.cs
Source/Configuration.cs
GameData/**/*.dll
GameData/**/LICENSE*
GameData/**/NOTICE
GameData/**/README.md
GameData/**/CHANGE_LOG.md
GameData/**/KNOWN_ISSUES.md
GameData/**/*.version
GameData/*/Plugins/**/*.dll
Source/*/*.user
bin
obj
packages
